extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3
        .row
            .col-12
                +box-head("Trò chuyện")

        .row
            .col-12
                .chat(my-id=user.id)
                    .inner-body
                        each chat in chats
                            div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-incoming"))
                                if(chat.user_id != user.id)
                                    .inner-name #{chat.infoUser.fullName}
                                .inner-content #{chat.content}
                    
                    .inner-foot(position="relative")
                        form.inner-form(action="")
                            input(
                                type="text"
                                name="content"
                                placeholder="Nhập tin nhắn của bạn..."
                            )

                            // Nút icon emoji
                            button#toggle-emoji.btn.btn-light(
                                type="button"
                                title="Chèn biểu tượng cảm xúc"
                            )
                                i.fas.fa-smile

                            // Nút gửi
                            button.btn.btn-primary(type="submit")
                                i.fa-solid.fa-paper-plane

                        // Tooltip emoji picker (ẩn mặc định)
                        .tooltip#emoji-tooltip(role="tooltip")
                            emoji-picker
