extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3
        .row
            .col-12
                +box-head("Trò chuyện")
        
        .row
            .col-12
                .chat
                    .inner-body
                        each chat in chats
                            div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-incoming"))
                                if(chat.user_id != user.id)
                                    .inner-name #{chat.infoUser.fullName}
                                .inner-content #{chat.content}
                            //- else
                            //-     .inner-outgoing
                            //-         .inner-content #{chat.content}
                        //- .inner-incoming
                        //-     .inner-name Em Yêu
                        //-     .inner-content À ơi sang nhà e nhé, nhà e không có ai ở nhà cả
                        //- .inner-outgoing
                        //-     .inner-content Thế à? Ok e iu
                        //- .inner-incoming
                        //-     .inner-name Em Yêu
                        //-     .inner-content Nhanh nhé anh ơi
                        //- .inner-outgoing
                        //-     .inner-content Ck đến rồi mà thấy ai ở nhà đầu e? Khóa cửa mà :(
                        //- .inner-incoming
                        //-     .inner-name Em Yêu
                        //-     .inner-content Thế em báo nhà e không ai ở nhà mà :)
                    .inner-foot
                        form(
                            class="inner-form"
                            action = ""
                        )
                            input(
                                type="text"
                                name="content"
                                placeholder="Nhập tin nhắn của bạn..."
                            )
                            button 
                                i.fa-solid.fa-paper-plane
                                