extends ../../layouts/default.pug
include ../../mixins/alert.pug

block style
    link(rel="stylesheet" href="/css/user-register.css")

block main
    +alert-success(5000)
    +alert-error(3000)
    .container.my-5
        .row.justify-content-center
            .col-12.col-md-8.col-lg-6
                .card
                    h1.text-center lấy lại mật khẩu
                    form(action="/user/password/forgot" method="POST")
                        .form-group
                            label(for="email") Email
                            input(
                                type="email"
                                class="form-control"
                                id="email"
                                name="email"
                                required
                            )
                        .form-group
                            button(
                                type="submit"
                                class="btn btn-primary btn-block"
                            ) Gửi mail xác nhận
                    