extends ../../layouts/default.pug
include ../../mixins/alert.pug

block style
    link(rel="stylesheet" href="/css/user-register.css")

block main
    .container.my-5
        .row.justify-content-center
            .col-12.col-md-8.col-lg-6
                .card
                    h1.text-center Đăng ký tài khoản
                    form(action="/user/register" method="POST")
                        .form-group
                            label(for="fullName") Họ và tên
                            input(
                                type="text"
                                class="form-control"
                                id="fullName"
                                name="fullName"
                                required
                            )
                        .form-group
                            label(for="email") Email
                            input(
                                type="email"
                                class="form-control"
                                id="email"
                                name="email"
                                required
                            )
                        .form-group
                            label(for="password") Mật khẩu
                            input(
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                required
                            )
                        .form-group
                            button(
                                type="submit"
                                class="btn btn-primary btn-block"
                            ) Đăng ký