extends ../../layouts/default.pug
include ../../mixins/alert.pug

block style
    link(rel="stylesheet" href="/css/user-register.css")

block main
    +alert-success(5000)
    +alert-error(3000)
    .container.my-5
        .row.justify-content-center
            .col-12.col-md-8.col-lg-6
                .card
                    h1.text-center Đổi mật khẩu 
                    form(action="/user/password/reset" method="POST")
                        .form-group
                            label(for="password") Mật khẩu mới
                            input(
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                required
                            )
                        .form-group
                            label(for="password") Xác nhân mật khẩu 
                            input(
                                type="password"
                                class="form-control"
                                id="confirmPassword"
                                name="confirmPassword"
                                required
                            )
                        .form-group
                            button(
                                type="submit"
                                class="btn btn-primary btn-block"
                            ) Đổi mật khẩu 
                    
                    